body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  font-family: 'Merriweather', serif;
  font-size:200%;
}

header nav {
  float: right;
  width: 285px;
  margin-bottom: 25px;
}

main {
  background: white;
  overflow: auto;
}


main .question {
  font-weight: bold;
  font-size: 125%;
}


main h2 {
  font-size: 125%;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

label, .textbox {
  display: inline-block;
  vertical-align: baseline;
  width: 125px;
}


form, .textbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

form {
  width: 300px;
}